@import "normalize"
 
*
 box-sizing border-box
 margin 0
 &:before, &:after
  box-sizing inherit

/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #eee
$black = #222
$white = #f7f7f7
html, button, input, select, textarea
  color: $black

a{
 &:visited{
  color: $linkColor
  text-decoration: none
 }
 &:hover{
  color: lighten($linkColor,10%)
 }
}

body
  color: $black
  font-size: 1em
  line-height: 1.5

header
  background: $grey
  color:$black
  padding: 1em

  nav
    float:right
    user-select:none